* {
	padding: 0;
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.sidebar {
	background-color: gray;
}

header {
	background-color: gray;
	border: 1px solid;
	width: 100%;
	position: fixed;
	z-index: 1;
}

header h1 {
	float: left;
	padding: 15px;
	color: #ff0000;

}

header ul li {
	display: inline-block;
}

header ul li a {
	float: right;
	padding: 25px 25px;
	display: inline-block;
}

.navigator {

	margin: 0 auto;
	color: rgb(9, 8, 8);
	
}

.nav {
	background-color: gray;
	float: right;
}

section ul li img {
	border-radius: 30px;
	display: round;
	margin: 0 auto;
	padding-top: 150px;
	width: 200px;
	height: 200px;
}

.background {
	height: 600px;
	background-image: url("https://i.pinimg.com/564x/36/1b/24/361b2450074d8365221fe19f2f1ea4cb.jpg");
	background-size: 1500px 600px;
	background-repeat: no-repeat;
}

h3 {
	text-align: center;
	margin-top: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: medium;
}

p {
	text-align: center;
	margin-top: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
}

.display {

	border: 2px solid black;
	background-color: grey;
}

section ul li {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;

}

.paragraf {
	height: 600px;
	background-image: url("https://i.pinimg.com/564x/36/1b/24/361b2450074d8365221fe19f2f1ea4cb.jpg");
	background-size: 1500px 600px;
	background-repeat: no-repeat;
	
}
.paragraf tr td  {
	padding: 50px;
	margin-left: 40px;
}

section img{
	border-radius: 300px;
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	width: 400px;
	height: 400px;
}
section table {
	padding: none;
	border: none;
	background: none;
	-moz-box-shadow: 0px 0px 0px transparent ;
	-webkit-box-shadow: 0px 0px 0px transparent ;
	box-shadow: 0px 0px 0px transparent ;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: x-large;
}
.rate {
	border: 2px solid black;
	background-color: grey;
	
}
footer{
	text-align: center;
	border: 2px solid black;
	background-color: grey;
}
section h4 {
	text-align: center;
}
.another {
	text-align: center;
}


